@page "/auth"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated?</h1>

<AuthorizeView>
    <Authorized>
        <p>Yes:  Hello @context.User.Identity?.Name!</p>
        <button class="btn btn-primary" @onclick-"Test"> Test </button>
    </Authorized>

    <NotAuthorized>
        <p>No: You are not authorized!</p>
    </NotAuthorized>
</AuthorizeView>