@page "/landingpage"
@inject NavigationManager Navigation

<h1>Welcome to the Trading App</h1>

<p>Select an action to get started:</p>

<div class="d-flex flex-column align-items-center gap-3 mt-4">
    <NavLink class="btn btn-primary" href="/trade-wizard/0">Offer</NavLink>
    <NavLink class="btn btn-secondary" href="/trade-wizard/1">Demand</NavLink>
    <NavLink class="btn btn-secondary btn-lg w-75" href="/trades">TradingTable</NavLink>
    <NavLink class="btn btn-secondary btn-lg w-75" @onclick="NavigateToTrades">TradingTable</NavLink>
</div>

@code {
    private void NavigateToTrades()
    {
        Navigation.NavigateTo("/trades");
    }

    private void GoToWizard(TradeDirectionType dir)
    {
        var value = (int)dir;
        Navigation.NavigateTo(("/"));
    }

}



